<script setup lang="ts">
import CardProfile from "@/components/CardProfile.vue";
</script>

<template>
  <!-- <div>รูปภาพ</div>
  <div>ชื่อ-นามสกุล</div>
  <div>ประวัติการศึกษา</div>
  <div>สิ่งที่สนใจ</div>
  <div>v-container, v-row, v-col, v-table, v-avatar?,....</div> -->

  <v-container>
    <CardProfile align="center"></CardProfile>
  </v-container>
</template>
