<script setup lang="ts"></script>

<template>
  <v-container>
    <v-card width="600px" color="#A0E4CB" class="rounded-xl">
      <v-card-item>
        <v-avatar
          image="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=63160070"
          size="120"
        ></v-avatar>
      </v-card-item>
      <v-card-text>
        <p class="text-h4 text--primary text-center">Nasan Soonthondachar</p>
        <v-divider></v-divider>
        <div
          class="font-weight-bold ml-1 mb-2 text-start pacing-playground pa-3"
        >
          Educational
        </div>
        <v-timeline density="compact" align="start">
          <v-timeline-item dot-color="pink" small>
            <v-table style="background-color: #a0e4cb">
              <tbody>
                <tr>
                  <td>
                    <strong>Kindergarten School</strong>
                  </td>
                  <td>
                    <p class="font-weight-medium">
                      Jindhawat Kindergarten School
                    </p>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-timeline-item>

          <v-timeline-item dot-color="teal-lighten-3" small>
            <v-table style="background-color: #a0e4cb">
              <tbody>
                <tr>
                  <td>
                    <strong>Elementary School</strong>
                  </td>
                  <td>
                    <p class="font-weight-medium">Lambert pitchayalai School</p>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-timeline-item>

          <v-timeline-item dot-color="pink" small>
            <v-table style="background-color: #a0e4cb">
              <tbody>
                <tr>
                  <td>
                    <strong>Secondary School</strong>
                  </td>
                  <td>
                    <p class="font-weight-medium">
                      Klaeng Wittayasathaworn School
                    </p>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-timeline-item>

          <v-timeline-item dot-color="teal-lighten-3" small>
            <v-table style="background-color: #a0e4cb">
              <tbody>
                <tr>
                  <td>
                    <strong>High School</strong>
                  </td>
                  <td>
                    <p class="font-weight-medium">
                      Klaeng Wittayasathaworn School
                    </p>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-timeline-item>
        </v-timeline>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-item>
        <v-table color="#F8EDE3" class="rounded-xl">
          <thead>
            <tr>
              <th class="text-h6 text--primary">Interested in</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1. Full Stack Developer</td>
            </tr>
            <tr>
              <td>2. Cybersecurity</td>
            </tr>
            <tr>
              <td>3. Java Programmer</td>
            </tr>
          </tbody>
        </v-table>
      </v-card-item>
    </v-card>
  </v-container>
</template>

<style scoped>
td {
  width: 230px;
}
</style>
